/*--------------------------------------------------------------
# Frequently Asked Questions
--------------------------------------------------------------*/
.faq {
    padding: 60px 0;
  }
  
  .faq .faq-list {
    padding: 0;
    list-style: none;
  }
  
  .faq .faq-list li {
    padding: 0 0 20px 25px;
  }
  
  .faq .faq-list a {
    display: block;
    position: relative;
    font-family: #3b4ef8;
    font-size: 18px;
    font-weight: 500;
  }
  
  .faq .faq-list i {
    font-size: 18px;
    position: absolute;
    left: -25px;
    top: 6px;
  }
  
  .faq .faq-list p {
    margin-bottom: 20px;
    font-size: 15px;
  }
  
  .faq .faq-list a.collapse {
    color: #3b4ef8;
  }
  
  .faq .faq-list a.collapsed {
    color: #343a40;
  }
  
  .faq .faq-list a.collapsed:hover {
    color: #3b4ef8;
  }
  
  .faq .faq-list a.collapsed i::before {
    content: "\eab2" !important;
  }

  
  /*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden;
}

.section-bg {
  background-color: #f6f8fb;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: #2d405f;
}

.section-title h2::after {
  content: '';
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: #aabbd7;
  bottom: 0;
  left: calc(50% - 25px);
}

.section-title p {
  margin-bottom: 0;
}








