
<app-navbar></app-navbar>
<app-hero-section></app-hero-section>
<app-about-section></app-about-section>
<app-client-section></app-client-section>
<app-feature-section></app-feature-section>
<app-steps-section></app-steps-section>
<app-services-section></app-services-section>
<app-portfoloio-section></app-portfoloio-section>
<app-testimonials-section></app-testimonials-section>
<app-team-section></app-team-section>
<app-pricing-section></app-pricing-section>
<app-faq-section></app-faq-section>
<app-contact-section></app-contact-section>
<app-footer></app-footer>

